@import "@/assets/sass/_variables";

.list-container {
	position: relative;
	margin-left: 1rem;
	min-width: 16rem;
	height: calc(100vh - 2rem);
}

.list {
	position: relative;
	width: 100%;
	padding: .5rem 1rem 1rem 1rem;
	border-radius: .2rem;
	background: $gray-700;
	cursor: pointer;
	top: 0;
	left: 0;
	transition: all .2s;

	&.dragging {
		opacity: 0;
		z-index: 10;
	}

	&-header {
		width: 100%;
		margin-bottom: 1rem;

		&__title {
			font-weight: bold;
			font-size: .9rem;
		}
	}

	&-cards {
		scroll-padding-left: 1rem;
		max-height: calc(100vh - 9.5rem);
		overflow-y: auto;
		scrollbar-color: $gray-600 transparent;
		scrollbar-width: thin;
	
		&::-webkit-scrollbar-track {
			background-color: transparent;
		}
	
		&::-webkit-scrollbar {
			width: 3px;
			background-color: transparent;
		}
	
		&::-webkit-scrollbar-thumb {
			background-color: $gray-600;
			border-radius: 50rem;
		}
	}

}