@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: bold;
	font-display: swap;
	src: url('../fonts/Vazir/Vazir-Bold-FD.eot');
	src: url('../fonts/Vazir/Vazir-Bold-FD.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vazir/Vazir-Bold-FD.woff2') format('woff2'),
		url('../fonts/Vazir/Vazir-Bold-FD.woff') format('woff'),
		url('../fonts/Vazir/Vazir-Bold-FD.ttf') format('truetype');
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: 500;
	font-display: swap;
	src: url('../fonts/Vazir/Vazir-Medium-FD.eot');
	src: url('../fonts/Vazir/Vazir-Medium-FD.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vazir/Vazir-Medium-FD.woff2') format('woff2'),
		url('../fonts/Vazir/Vazir-Medium-FD.woff') format('woff'),
		url('../fonts/Vazir/Vazir-Medium-FD.ttf') format('truetype');
}

@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: lighter;
	font-display: swap;
	src: url('../fonts/Vazir/Vazir-Light-FD.eot');
	src: url('../fonts/Vazir/Vazir-Light-FD.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vazir/Vazir-Light-FD.woff2') format('woff2'),
		url('../fonts/Vazir/Vazir-Light-FD.woff') format('woff'),
		url('../fonts/Vazir/Vazir-Light-FD.ttf') format('truetype');
}


@font-face {
	font-family: Vazir;
	font-style: normal;
	font-weight: normal;
	font-display: swap;
	src: url('../fonts/Vazir/Vazir-FD.eot');
	src: url('../fonts/Vazir/Vazir-FD.eot?#iefix') format('embedded-opentype'),
		url('../fonts/Vazir/Vazir-FD.woff2') format('woff2'),
		url('../fonts/Vazir/Vazir-FD.woff') format('woff'),
		url('../fonts/Vazir/Vazir-FD.ttf') format('truetype');
}