$royal-blue: #506cf1;
$royal-blue-dark: #374fbd;
$royal-blue-light: #99abff;
$royal-blue-lighter: #f0f3ff;

$gray-050: #fafaff !default;
$gray-100: #f8f8ff !default;
$gray-200: #eeeef6 !default;
$gray-300: #dfdfe7 !default;
$gray-400: #ced4e2 !default;
$gray-500: #b5b5bd !default;
$gray-550: #9e9ea6 !default;
$gray-600: #7d7d85 !default;
$gray-650: #505057 !default;
$gray-700: #303041 !default;
$gray-800: #1b1b23 !default;